.boardImage {
    display: flex;
    justify-content: center;
    width: 100%;
}

.boardImage img {
    width: 100%;
    height: 371px;
}

.boardImage h1 {
    position: absolute;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 800;
    color: rgb(208, 73, 49);
}

.photo1 {

    margin-top: 100px;
    display: flex;
    justify-content: center;


}

.photo1 img {
    border-radius: 50%;
    width: 160px;
    border: 2px solid rgb(215, 95, 26);
    padding: 10px;
}

.row1 {
    margin: 50px 0px;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
  
}
.roll {
    margin-top: 2px;
    font-size: 20px;
    text-align: center;

}

.photo2 {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.photo2 img {
    width: 140px;
    border-radius: 50%;
    border: 3px solid rgb(215, 95, 26);
    padding: 5px;
}

.photo3 {

    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row2 {
    margin-top: 32px;

}

.photo3 img {
    width: 140px;
    border-radius: 50%;
    border: 3px solid rgb(215, 95, 26);
    padding: 5px;
}

@media(max-width:1142px) {
    .boardImage {
        width: 100%;
    }

    .boardImage img {
        width: 100%;
        height: 280px;
    }

    .boardImage h1 {
        font-size: 70px;
    }
}



@media(max-width:950px) {
    .boardImage img {
        height: 230px;
    }

    .boardImage h1 {
        font-size: 45px;
        margin-top: 70px;
    }
}

@media screen and (max-width:605px) {
    .boardImage img {
        height: 150px;
    }

    .boardImage h1 {
        font-size: 20px;
        margin-top: 40px;
    }
    .row1,.roll{
       
        font-size: small;
    }
    .row1 img , .photo1 img{
        width: 110px;
    }
}

@media screen and (max-width:450px) {

    .boardImage img {
        height: 110px;
    }

    .boardImage h1 {
        font-size: 15px;
        margin-top: 30px;
    }
}