.boardImage {
    display: flex;
    justify-content: center;
    width: 100%;
}

.boardImage img {
    width: 100%;
   
}
.board-head{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(195, 98, 18);
}

.photo1 {

    margin-top: 100px;
    display: flex;
    justify-content: center;


}

.photo1 img {
    border-radius: 50%;
    width: 160px;
    border: 2px solid rgb(215, 95, 26);
    padding: 10px;
}

.row1 {
    margin: 50px 0px;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
  
}
.roll {
    margin-top: 2px;
    font-size: 20px;
    text-align: center;

}

.photo2 {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.photo2 img {
    width: 140px;
    border-radius: 50%;
    border: 3px solid rgb(215, 95, 26);
    padding: 5px;
}

.photo3 {

    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row2 {
    margin-top: 32px;

}

.photo3 img {
    width: 140px;
    border-radius: 50%;
    border: 3px solid rgb(215, 95, 26);
    padding: 5px;
}


@media screen and (max-width:605px) {
     .board-head{
        font-size: small;
     }

    .row1,.roll{
       
        font-size: small;
    }
    .row1 img , .photo1 img{
        width: 110px;
    }
}
