.boardImage {
    display: flex;
    justify-content: center;
    width: 100%;
}

.boardImage img {
    width: 100%;

}

.board-head {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(195, 98, 18);
}

.photo1 {

    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.photo1 img {
    border-radius: 50%;
    width: 160px;
    border: 2px solid rgb(215, 95, 26);
    padding: 10px;
}

.row1 {
    margin: 50px 0px;
    flex-basis: 32%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.photo1 h4,
.row1 h4 {
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom-color: rgb(215, 95, 26);
    border-bottom-style: dotted;
    margin: 5px 0px;
    color: rgb(215, 95, 26);
    border-bottom-width: 3px;
    font-weight:900;

}

.photo2 {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.photo2 img {
    width: 140px;
    border-radius: 50%;
    border: 3px solid rgb(215, 95, 26);
    padding: 5px;
}


.row2 {
    margin-top: 32px;

}


@media screen and (max-width:605px) {

    .row1 {
        margin: 80px 0px;
        flex-basis: 50%;
    }

    .board-head {
        font-size: small;
    }

    .row1,
    .photo1 {

        font-size: small;
    }

    .row1 img,
    .photo1 img {
        width: 110px;
    }
}