

.donateHead {
  font-size: 30px;
  color: rgb(253, 147, 67);
  margin-bottom: 25px;
}


.container {
  margin: 60px;
}

.container p {
  font-size: 20px;
  padding: 10px;
}

.focus {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.donate-option {
  background-color: lightblue;
  display: flex;
  align-items: center;
  flex-basis: 15%;
  gap: 10px;
  padding: 10px;
  font-size: 17px;
  border-radius: 30px;
}

.donate-option input {
  width: 14px;
}

.description {

  margin: 0 10px;
}

.description h3 {
  font-size: 30px;
  color: rgb(253, 147, 67)
}

.description p {
  font-size: 20px;
}

.amount {
  margin: 0 10px;
}

.amount h3 {
  font-size: 20px;
  margin-top: 20px;
}

.amount input {
  padding: 5px;
  font-size: 27px;
  margin-top: 20px;
}

.remark {
  margin: 0 10px;
}

.remark h3 {
  font-size: 20px;
  margin-top: 10px;
}

.remark input {
  font-size: 23px;
  margin-top: 10px;
  border: none;
}

.bt button {
  padding: 15px 70px;
  font-size: 20px;
  margin: 50px;
  border-radius: 20px;
}

.bt :hover {
  background-color: rgb(68, 236, 116);
  cursor: pointer;
  border: none;

}

.bt img {
  position: relative;
  width: 13px;
  left: 5px;
  top: 6px;

}



@media (max-width:940px) {

  .donate-option {
    flex-basis: 23%;
  }

}

@media(max-width:650px) {

  .donate-option {
    font-size: small;
  }

  .donate-option {
    flex-basis: 30%;
  }
}

@media (max-width:480px) {
 
  .donate-option {
    flex-basis: 45%;
  }
}

@media (max-width:390px) {
 
  .bt button {
    padding: 15px 40px;
   
  }

  .bt img {
    position: relative;
    width: 13px;
    left: 5px;
    top: 6px;
  
  }
    
}