.qrcode {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.qrcode img {
  width: 550px;
}

@media(max-width:600px) {
  .qrcode img {
    width: 300px;
  }
}

.donateHead {
  font-size: 30px;
  color: rgb(253, 147, 67);
  margin-bottom: 20px;
  margin-left: 10px;
}


.container {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container h3 {
  color: rgb(253, 147, 67);
  font-size: 30px;
  margin-left: 10px;
}

.container p {
  font-size: 20px;
  padding: 10px;
}

.container-image {

  align-content: center;
  margin-right: 100px;
}

.container-image img {
  width: 740px;


}

.focus {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.donate-option {
  background-color: lightblue;
  display: flex;
  align-items: center;
  flex-basis: 15%;
  gap: 10px;
  padding: 10px;
  font-size: 17px;
  border-radius: 30px;
}

.donate-option input {
  width: 14px;
}

.description {
  margin: 0 10px;
}

.description h3 {
  font-size: 25px;
  color: rgb(253, 147, 67)
}

.description p {
  font-size: 20px;
}

.amount {
  margin: 0 10px;
}

.amount h3 {
  font-size: 20px;
  margin-top: 20px;
}

.amount input {
  padding: 5px;
  font-size: 27px;
  margin-top: 20px;
}

.remark {
  margin: 0 10px;
}

.remark h3 {
  font-size: 20px;
  margin-top: 10px;
}

.remark input {
  font-size: 23px;
  margin-top: 10px;
  border: none;
}

.bt button {
  padding: 15px 70px;
  font-size: 20px;
  margin: 50px;
  border-radius: 20px;
}

.bt :hover {
  background-color: rgb(68, 236, 116);
  cursor: pointer;
  border: none;

}

.bt img {
  position: relative;
  width: 13px;
  left: 5px;
  top: 6px;

}

.description-address {
  width: 435px;
  word-Wrap: break-word;
  border: rgb(6, 131, 6) 3px solid;
  margin: 0px 10px 10px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(233, 240, 240);

}

.description-address h6 {
  font-size: 15px;
  margin: 5px;
  color: rgb(82, 135, 157);
  text-transform: uppercase;
}

.description-address h4 {
  margin: 3px 0;
}

.description-address p {
  font-size: 13px;
}

@media (max-width:1450px) {
  .container-image img {
    width: 450px;

  }

}

@media (max-width:1245px) {
  .container-image img {
    width: 350px;
    margin-top: 35px;

  }

}

@media (max-width:1145px) {
  .container-image img {
    width: 300px;
    margin-top: 35px;
    margin-left: 100px;

  }

}


@media (max-width:940px) {

  .donate-option {
    flex-basis: 23%;
  }

}

@media(max-width:860px) {
  .description-address {

    width: 350px;

  }

  .description-address h6 {
    font-size: 12px;
  }

  .description-address h4 {
    margin: 0px 0;
    font-size: small;
  }

  .description-address p {
    font-size: 10px;
  }

}


@media(max-width:650px) {

  .donate-option {
    font-size: small;
  }

  .donate-option {
    flex-basis: 30%;
  }

  .description-address {
    width: 350px;
  }

  .container-image img {
    width: 350px;

  }

  .container p {
    font-size: 15px;
  }

  .container h3,
  .donateHead {
    font-size: medium;
  }

}

@media (max-width:480px) {

  .donate-option {
    flex-basis: 45%;
  }

  .container-image img {
    width: 300px;
    margin-top: 35px;
    margin-left: 50px;

  }

}

@media (max-width:390px) {

  .bt button {
    padding: 15px 40px;

  }

  .container-image img {
    width: 200px;

  }

  .bt img {
    position: relative;
    width: 13px;
    left: 5px;
    top: 6px;

  }

  .amount input {
    font-size: medium;
  }

  .description-address {
    width: 250px;
  }

}