.head {
    color: green;
}

.uploading-Images {

    display: flex;
    flex-wrap: wrap;
    margin: 50px 50px;
    padding: 0px;
    gap: 15px;
}

.uploading-Images img {
    width: 100px;
    flex-basis:23%;
    padding: 10px;
    flex-grow: 1;
    
    
    

}