.mission {
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.mission img {
    
    width: 100%;
    height: 373px;
}

.mission h1 {
    position: absolute;
    margin-top: 120px;
    font-size: 50px;
    font-weight: 800;
    color: rgb(20, 94, 123);

}

.OurMission-Vision {
    margin: 150px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.OurMission {
    margin-bottom: 100px;
    border: 2px solid;
    padding: 15px;
    background-color: rgb(226, 231, 232);
}

.OurMission p:hover {
    border-radius: 20px;
    font-size: 22px;
    transition: calc(1.7s);
    background-color: rgb(123, 197, 193);
}

.OurMission h2 {
    font-size: xx-large;
    color: rgb(117, 117, 227);
}

.OurMission p {
    padding: 10px;
    font-size: 20px;
}

.image img {
    width: 100%;
    height: 500px;
}

@media(max-width:1142px) {

    .mission {
        width: 100%;
    }

    .mission img {
        width: 100%;
        height: 280px;
    }

    .mission h1 {
        margin-top: 60px;
    }
}

@media(max-width:950px) {

    .mission img {
        height: 230px;
    }

    .mission h1 {
        font-size: 50px;
        margin-top: 78px;
    }
}

@media(max-width:700px) {

    .mission img {
        height: 165px;
    }

    .mission h1 {
        font-size: 45px;
        margin-top: 50px;
    }
}


@media screen and (max-width:600px) {
    .mission img {
        height: 150px;
    }

    .mission h1 {
        font-size: 40px;
        margin-top: 40px;
    }

    .OurMission p {
        font-size: 12px;
    }

    .OurMission h2 {
        font-size: larger;
    }

    .OurMission p:hover {
        border-radius: 20px;
        font-size: 14px;
        transition: calc(1.7s);
        background-color: rgb(123, 197, 193);
    }

}

@media screen and (max-width:450px) {

    .mission img {
        height: 110px;
    }

    .mission h1 {
        font-size: 30px;
        margin-top: 30px;
    }
}