.mission {
    display: flex;
    justify-content: center;
    width: 100%;

}

.mission img {
    width: 100%;
}

.image-head {
    position: absolute;
    font-size: x-large;
    color: rgb(83, 142, 142);
    margin-right: 100px;
    margin-top: 25px;
}

.mission-head {
    text-align: center;
    color: rgb(96, 96, 152);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.OurMission-Vision {
    margin: 150px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.OurMission {

    margin-bottom: 100px;
    padding: 15px;

}

.OurMission h2 {
    font-size: xx-large;
    color: rgb(117, 117, 227);
}

.OurMission p {
    padding: 10px;
    font-size: 18px;
}

.OurMission p:hover {
    cursor: pointer;
    background-color: rgb(144, 170, 236);
    border-radius: 10px;
    transition-duration: 0.9s;
    font-size: 19px;
}


.image img {
    width: 100%;
    margin-top: 40px;
    height: 500px;

}

@media screen and (max-width:600px) {
    .image-head {
        margin-left: 44px;
        font-size: 15px;
    }

    .OurMission p {
        font-size: 12px;
    }

    .mission-head {
        font-size: small;
    }

    .OurMission h2 {
        font-size: larger;
    }

    .OurMission p:hover {
        border-radius: 20px;
        font-size: 14px;
        transition: calc(1.7s);
        background-color: rgb(123, 197, 193);
    }

    .image img {

        height: 350px;

    }
}

@media (max-width:450px) {

    .image img {

        height: 250px;

    }

    .image-head {
        font-size: 10px;
        margin-top: 27px;
    }

}