.picture {
    display: flex;
    justify-content: center;
    width: 100%;

}

.project-head {
    text-align: center;
    color: rgb(62, 135, 20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.picture img {
    width: 100%;
}

.activities-paragraph {

    display: flex;
    gap: 5px;
    justify-content: center;
    justify-content: space-around;
    margin: 110px 50px;


}

.activities-paragraph .paragraph {
    background-color: white;
    margin-bottom: 100px;
}

.activities-paragraph .paragraph h2 {
    font-size: 25px;
    color: blueviolet;
    margin-bottom: 20px;


}

.activities-paragraph .paragraph p {
    margin: 20px;
    font-size: 20px;
}

.activities-image {
    position: absolute;
    margin-left: 60%;
    display: flex;
    padding: 37px;
    background-color: rgb(220, 238, 220);
    border-radius: 50px;
    box-shadow: 2px 5px 10px 5px rgb(194, 194, 216);


}

.activities-image img {
    border-radius: 10px;
    width: 350px;
}

@media (max-width:1220px) {

    .activities-image {
        position: absolute;
        margin-left: 70%;
        padding: 22px;


    }

    .activities-image img {
        border-radius: 10px;
        width: 150px;
    }
}

@media(max-width:950px) {



    .activities-image {

        border-radius: 15px;
        position: relative;  
        right: 150px;
        padding: 15px;

    }

    .activities-image img {
        margin-left: 10px;
        border-radius: 10px;
        width: 180px;
    }
}

@media screen and (max-width:830px) {



    .activities-image {
        right: 280px;
        width: 230px;
        padding: 15px;

    }

    .activities-image img {
        margin-left: 10px;
        border-radius: 10px;
        width: 180px;
    }

}

@media(max-width:600px) {

    .project-head {
        font-size: larger;
    }

    .activities-paragraph .paragraph h2 {
        font-size: 17px;
    }

    .activities-paragraph .paragraph h3 {
        font-size: 17px;
    }

    .activities-paragraph .paragraph p {
        margin: 10px;
        font-size: 12px;
    }

    .activities-image {
        padding: 20px;
        right: 100px;
        box-shadow: none
    }
}

@media (max-width:460px) {

    .activities-paragraph .paragraph h2 {
        font-size: 15px;
    }

    .activities-paragraph .paragraph p {
        margin: 17px;
        font-size: 14px;
    }    
    .activities-image {
        right: 150px;
        width: 180px;
        padding: 15px;

    }

    .activities-image img {
        margin-left: 10px;
        width: 130px;
    }


}