.picture {
    display: flex;
    justify-content: center;
    width: 100%;

}

.project-head {
    text-align: center;
    color: rgb(62, 135, 20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.picture img {
    width: 100%;
}

.activities-paragraph {

    display: flex;
    gap: 5px;
    justify-content: center;
    justify-content: space-around;
    margin: 110px 50px;


}

.activities-paragraph .paragraph {
    background-color: white;
    margin-bottom: 100px;
}

.activities-paragraph .paragraph h2 {
    font-size: 25px;
    color: blueviolet;
    margin-bottom: 20px;


}

.activities-paragraph .paragraph p {
    margin: 20px;
    font-size: 20px;
}

.activities-image {


    display: flex;
    padding: 70px;
    background-color: rgb(220, 238, 220);
    margin-left: 38%;
    border-radius: 50px;
    box-shadow: 2px 8px 10px 12px rgb(194, 194, 216);


}

.activities-image img {
    border-radius: 20px;
    width: 100%;

}

@media(max-width:950px) {


    .activities-image {
        padding: 40px;
        box-shadow: 2px 3px 4px 6px rgb(194, 194, 216);
    }
}


@media screen and (max-width:800px) {

    .activities-image {
        padding: 30px;
    }
}

@media(max-width:600px) {

    .project-head {
        font-size: larger;
    }

    .activities-paragraph .paragraph h2 {
        font-size: 20px;
    }

    .activities-paragraph .paragraph p {
        margin: 10px;
        font-size: 15px;
    }

    .activities-image {
        padding: 20px;
        border-radius: 20px;
        box-shadow: none
    }
}

@media (max-width:460px) {

    .activities-paragraph .paragraph h2 {
        font-size: 15px;
    }

    .activities-paragraph .paragraph p {
        margin: 17px;
        font-size: 14px;
    }

    .activities-image {
        padding: 10px;
        border-radius: 15px;
    }

}