.picture {
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 11px 10px 3px rgb(252, 131, 18);
}

.picture img {
    width: 100%;
    height: 373px;
}

.picture h1 {
    position: absolute;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 800;
    color: rgb(216, 38, 171);
}

.activities-paragraph {

    display: flex;
    gap: 5px;
    justify-content: center;
    justify-content: space-around;
    margin: 110px 50px;


}

.activities-paragraph .paragraph {
    background-color: white;
    margin-bottom: 100px;
}

.activities-paragraph .paragraph h2 {
    font-size: 25px;
    color: blueviolet;
    margin-bottom: 20px;


}

.activities-paragraph .paragraph p {
    margin: 20px;
    font-size: 20px;
}

.activities-image {


    display: flex;
    padding: 70px;
    background-color: rgb(220, 238, 220);
    margin-left: 38%;
    border-radius: 50px;
    box-shadow: 2px 8px 10px 12px rgb(194, 194, 216);


}

.activities-image img {
    border-radius: 20px;
    width: 100%;

}

@media(max-width:1142px) {

    .picture img {
        height: 280px;

    }
}

@media(max-width:950px) {

    .picture img {

        height: 230px;
    }

    .picture h1 {
        font-size: 70px;
        margin-top: 70px;
    }

    .activities-image {
        padding: 40px;
        box-shadow: 2px 3px 4px 6px rgb(194, 194, 216);
    }
}


@media screen and (max-width:800px) {

    .picture h1 {
        font-size: 50px;
    }

    .activities-image {
        padding: 30px;
    }
}

@media(max-width:600px) {

    .activities-paragraph .paragraph h2 {
        font-size: 20px;
    }

    .activities-paragraph .paragraph p {
        margin: 10px;
        font-size: 15px;
    }

    .picture img {
        width: 100%;
        height: 150px;
    }

    .picture h1 {
        font-size: 50px;
        margin-top: 40px;
    }

    .activities-image {
        padding: 20px;
        border-radius: 20px;
        box-shadow: none
    }
}

@media (max-width:460px) {
    .activities-paragraph .paragraph h2 {
        font-size: 15px;
    }

    .activities-paragraph .paragraph p {
        margin: 17px;
        font-size: 14px;
    }

    .picture img {

        height: 110px;
    }

    .picture h1 {
        font-size: 30px;
        margin-top: 30px;
    }

    .activities-image {
        padding: 10px;
        border-radius: 15px;
    }

}