.dropdown-content {
    position: absolute;
    margin-top: 0px;
    border-radius: 20px;
    background-color: #fefefe;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}

.dropdown-content .a:hover {
    background-color: rgb(241, 218, 205);
    transition-duration: 1.3s;
}

.navbar {
    position: fixed;
    top: 0%;
    z-index: 9;
    background-color:white;
    width: 100dvi;
    font-size: 20px;
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
}

.nav-link p {
    cursor: pointer;
    font-size: 22px;
    color: #6d3ba6;
    display: flex;
}

.nav-link li :hover {
    color: rgb(249, 102, 11);
    
}

.nav-link {
    font-size: 24px;
    margin-left: 100px;
}

.navbar li {
    display: inline-block;
    margin: 17px;


}

.active {
    color:rgb(249, 102, 11);
    border-bottom: 3px solid rgb(249, 102, 11);
}

.logo {
    position: absolute;
    margin-right: 85%;

}

.logo img {

    width: 80px;

}

.title {
    margin-left: 90px;
    font-weight: bold;
}

.title .a {
    
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.title p {
    margin-top: 5px;
    margin-left: 40px;


}

.dona-btn {
    border: 3px solid rgb(158, 12, 12);
    font-size: 25px;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fbfbfbd9;


}

.dona-btn .a {
    text-decoration: none;
}

.dona-btn:hover {
    background-color:rgb(249, 102, 11);
}

.nav2 {
   
    margin-top: 146px;
    width: 100%;
    padding: 12px;
    background-color: rgb(46, 157, 81);
}
.iconsbar {
    font-size: 25px;
    display: none;
    cursor: pointer;
}

.mobile-views {
    display: none;
}

@media screen and (max-width:1142px) {

    .title {
        margin-left:70px;
    }
    .title .a {
        font-size: 25px;
    }
    .title p {
        font-size: 22px;
        margin-left: 20px;
    }
    .logo img {
        width: 120px;
        margin-left: 35px;
    
    }



    .navbar {
        display: flex;
        flex-wrap: wrap;

    }

    .mobile-view {
        display: none;
    }

    .iconsbar {
        display: block;
    }

    .mobile-views {

        position: absolute;
        display: flex;
        justify-content:center;
        top: 130px;
        width: 100%;
        background-color: white;

        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

    
    }

    .nav-link {

        display: flex;
        flex-direction: column;
        width: 200px;
    }

    .nav-link li {

        padding: 5px;
    }

    .nav-link li:hover {
        background-color: rgb(240, 229, 221);
        border-radius: 10px;
        padding: 8px;
        transition: 0.5s;
    }

}

@media (max-width:600px) {
    .title {
        margin-left: 50px;
    }
    .title .a {
        font-size: 20px;
    }
    .title p {
        font-size: 15px;
        margin-left: 25px;
    }
    .logo img {
        width: 100px;
        margin-left: 30px;
    
    }
}
@media (max-width:430px) {  
    .title {
        margin-left: 70px;
    }

    .title .a {
        font-size: 20px;
    }
    .title p {
        font-size: 15px;
    }
    
    .logo img {
        width: 100px;
        margin-left: 50px;
    }
    .iconsbar{
        position:relative;
        left:0px;
        top: 25px;   
    }
}
@media (max-width:381px){
    .title .a {
        font-size: 13px;
    }
}