footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid aliceblue;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);

}

.fo {

    background-color: #f6a168;
    padding: 45px 10px 0px 10px;


}

.foote-col {

    justify-items: center;
    margin: 5px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.foote-col p {
    font-size: 20px;
    padding: 8px;
}

.foote-col h4 {
    margin: 35px;
    border-bottom: 3px solid green;
}

.foote-col li {
    padding: 2px;
    margin: 2px;
}

.foote-col .a {
    color: rgb(25, 0, 255);
}

.foote-col li :hover {
    color: rgb(236, 10, 10);
}

.foote-col h5 {
    margin: 2px;
    padding-top: 5px;
}

.foot-icon {
    font-size: 50px;
    margin: 2px;
    padding: 20px;
}

.foot-icon .a {
    margin: 15px;

}

.foot-icon .a :hover {
    color: rgb(30, 180, 16);
}

.copy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

.privacy-policy .a:hover {
    border-bottom: 2px solid;
}

.privacy-policy .a {
    font-size: 19px;
    color: rgb(222, 234, 220);
}

@media(max-width:600px) {

    .foote-col {
        font-size: 15px;
    }

    .foot-icon {
        font-size: 25px;
    }

    .privacy-policy .a {
        font-size: 10px;

    }

}

@media(max-width:415px) {

    .foote-col {
        font-size: 12px;
    }

    .foot-icon {
        font-size: 15px;
    }

    .privacy-policy .a {
        font-size: 8px;
    }

    .fo {

        padding: 20px 0px 5px 10px;

    }
    .copy{
        margin-top:6px;
    }

}